body {
    margin: 0;
    background-color: gray;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 9, 107);
    width: 50vw;
    height: 50vh;
    margin-left: 25vw;
    margin-top: 10vh;
    border-radius: 25px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

@font-face {
    font-family: cursed-timer;
    src: url(../.Fonts/CursedTimerUlil-Aznm.ttf);
}

h3 {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 1vh;
}

h2 {
    text-align: center;
    color: white;
    font-size: 25px;
}

#newGame:hover {
    color: gray;
}

#newGame:active {
    -webkit-text-stroke: 0.5px gray;
    color: white;
}

#sets {
    padding-left: 14%;
    padding-bottom: 2%;
    letter-spacing: 10px;
}

.counter {
    color: red;
    font-family: cursed-timer;                                           
    background-color: black;
    font-size: 70px;
    width: 10vw;
    text-align: center;
    margin-top: 0px;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.bt_score {
    font-family: cursed-timer;
    width: 28%;
    margin-left: 2%;
    height: 5vh;
    color: white;
    background-color: gray;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
}

.bt_score:hover {
    background-color: white;
    color: black;
}

.bt_score:active {
    color: white;
    background: grey;
    opacity: 90%;
}

.bt_score:disabled {
    opacity: 40%;
}

.timer {
    display: flex;
    color: red;
    font-family: cursed-timer;                                           
    background-color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    padding-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 0.6vw;
    border-radius: 10px;
 }